body {
    background-color: black;
    font-family: arial;
    color: white;
    padding-left: 40%;
}

h1 {
    color: grey;
    font-family: verdana
}

.maindiv {
    width: 300px;
    padding: 20px;
    background-color: white;
    color: black;
border-radius: 25px; 
   

}

.functionality{
    padding: 25px;
}

